.action-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 23px;
}

.action-item {
  margin-right: 16px;
}

.github-open {
  margin-left: 8px;
  font-size: 12px;
}
