.action-container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 23px;
  border-top: 1px solid rgba(105, 130, 155, 0.25);
}

.action-item {
  margin-right: 16px;
}

.open-in-github-link {
  height: 100%;
  display: flex;
}

.githubicon {
  margin: auto;
}

.open-in-github-link-text {
  margin-left: 8px;
  font-size: 12px;
  margin: auto;
}
