.pivot-item-container {
  margin-left: 20px;
  width: 100%;
}

.container-content {
  overflow-wrap: break-word;
  white-space: pre-line;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
}
