.pivot-item-container {
  padding-left: 23px;
  background-color: #fbfbfb;
}
.wrapper {
  min-height: 60vh;
  position: relative;
  max-height: inherit;
}

.tab-summary {
  background: #ffffff;
  padding-top: 17px;
  padding-bottom: 13px;
  font-size: 13px;
  font-weight: bold;
}

.armtemplate-content {
  overflow-wrap: break-word;
  white-space: pre-line;
  justify-content: center;
}

.licence-content {
  max-width: 750px;
  text-align: justify;
  text-justify: inter-word;
}
