.detail-page-header {
  padding-left: 23px;
  padding-top: 20px;
  background: #ffffff;
}
.detail-page-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 11px;
}

.back-button-icon-container {
  margin: auto 0;
}

.backButtonStyles {
  button: {
    width: 17;
    height: 18;
    margin-right: 12;
  }
}

.sample-title {
  font-size: 18px;
  font-weight: bold;
  color: #161616;
  margin-bottom: auto;
}

.sample-description {
  font-size: 12px;
  color: #161616;
}
