.page-header {
  padding-left: 23px;
  padding-top: 20px;
  background: #ffffff;
}
.page-title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 11px;
}

.back-button-icon-container {
  margin: auto 0;
}

.page-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: auto;
}

.page-description-container {
  font-size: 12px;
  line-height: 14px;
  color: #161616;
}
