.contribute-page-container {
  margin-left: 23px;
}

.contribute-page-description {
  max-width: 785px;
}

.contribution-form-container {
  margin-top: 23px;
  margin-bottom: 22px;
}

.contribution-list-container {
  max-width: 746px;
}
