.functionslogo,
.logicappslogo {
  vertical-align: baseline;
  margin-right: 4px;
}

.tagcontainer {
  display: flex;
  font-size: 14px;
  line-height: normal;
  vertical-align: sub;
}

.tag {
  margin-right: 5px;
  background: #efefef;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  display: flex;
}

.svg {
  width: 17px;
  height: 17px;
  vertical-align: baseline;
  margin-right: 4px;
}
