.libraryitem {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 12px;
  padding-bottom: 15px;
}

.libraryitem-withhover {
  @extend .libraryitem;
  &:hover {
    border-bottom: none;
  }
}

.libraryitemContainer {
  padding-left: 16px;
  &:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #000000;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
