
.listcontainer{
  margin-left: 9px;
}
.contributionitem {
    max-width: 1500px;
    margin-top:10px;
    padding-bottom: 0px;
  }
  .initial
  {
      color: #fff;
      padding: 5px 10px;
      border-radius: 60%;
      font-size: 20px;
  }
  .resultsummary
  {
     display: flex;
     flex-direction: row;
    vertical-align: top;
  }
 
  .libraryitem
  {
    padding-left: 19px;
    border-bottom: 1px solid #D8D8D8;
    padding-top:10px;
    padding-bottom: 15px;
  }
  .libraryitem:hover{
    border-bottom: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  .title {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 24px;
    color: #0072c6;
  }
  .title:visited{
    text-decoration: none; 
  }
  .titlelink{
    text-decoration: none; 
  }

  .description {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #000000;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  strong {
    color: #0072c6;
  }
  